<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-event-pulse-heading">Create or edit a Event</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!event.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="event.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eventName">Event Name</label>
                    <input type="text" class="form-control" name="eventName" id="field_eventName"
                        [(ngModel)]="event.eventName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_eventDate">Event Date</label>
                    <div class="d-flex">
                        <input id="field_eventDate" type="datetime-local" class="form-control" name="eventDate" [(ngModel)]="eventDate"
                        />
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_organization">Organization</label>
                    <select class="form-control" id="field_organization" name="organization" [(ngModel)]="event.organizationId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="organizationOption.id" *ngFor="let organizationOption of organizations; trackBy: trackOrganizationById">{{organizationOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
