<div>
    <h2 id="page-heading">
        <span>Emails</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-email" [routerLink]="['/email/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Email
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="emails">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>From</span></th>
            <th><span>Addresses</span></th>
            <th><span>Subject</span></th>
            <th><span>Body</span></th>
            <th><span>Is Html</span></th>
            <th><span>Is Sent</span></th>
            <th><span>Date Insert</span></th>
            <th><span>Date Sent</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let email of emails ;trackBy: trackId">
                <td><a [routerLink]="['/email', email.id, 'view' ]">{{email.id}}</a></td>
                <td>{{email.from}}</td>
                <td>{{email.addresses}}</td>
                <td>{{email.subject}}</td>
                <td>{{email.body}}</td>
                <td>{{email.isHtml}}</td>
                <td>{{email.isSent}}</td>
                <td>{{email.dateInsert | date:'medium'}}</td>
                <td>{{email.dateSent | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/email', email.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/email', email.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'email/'+ email.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
