<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="clientLead">
            <h2><span>Client Lead</span> {{clientLead.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User Ext</span></dt>
                <dd>
                    <div *ngIf="clientLead.userExtId">
                        <a [routerLink]="['/user-ext-pulse', clientLead.userExtId, 'view']">{{clientLead.userExtId}}</a>
                    </div>
                </dd>
                <dt><span>Events</span></dt>
                <dd>
                    <span *ngFor="let events of clientLead.events; let last = last">
                        <a [routerLink]="['/event-pulse', events?.id, 'view' ]">{{events.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/client-lead-pulse', clientLead.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
